<app-header></app-header>
<div class="body-margin">
  <div class="flex w-100">
    <button class="button-styling flex-auto" (click)="openAddCourse()">Add Course</button>
  </div>
  <div class="course-container">
    <div *ngFor="let course of courses" class=" course-single body-margin">
      <div > <!--All Course cards-->
        <label class="font-bold"> {{ course.name }}</label>
        <label>
          <span> Credit Hours:</span>
          {{course.creditHours}}
        </label>
      
      <div>
        {{course.code}}
      </div>
      <div>
        {{course.id}}
      </div>
      <div class="margin-top border-top">
        <!--Insert course description here-->
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ea consectetur eius! Quibusdam ipsum delectus id ut a exercitationem voluptatum perspiciatis nesciunt facere similique, quo omnis, fuga alias asperiores architecto?
      </div>



      <div class="margin-top">
        <button (click)="openEdit(course)" class="button-styling">Edit</button>
        <button class="body-margin info-button">Get Course Info</button>
        <button (click)="openDelete(course.id)" class="delete-button">Delete</button>
      </div>
      <!---- 
      TODO: Add Course Content Here
      ---->
    </div>
  </div> <!-- Entire course cards-->
  </div>
</div>


<p-dialog [(visible)]="showDeleteModal" [modal]="true">
  <div>
    <span>Are you sure you want to delete?</span>
    <div>
      <button (click)="closeDeleteModal()" class="cancel-button body-margin">Cancel</button>
      <button (click)="deleteCourse()" class="delete-button body-margin">Delete</button>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="showEditModal" [modal]="true">
  <!--
  TODO: Add Edit Modal Content Here
  --->
  <ng-template pTemplate="header">
    <div>
      Edit Course
    </div>
  </ng-template>
  <div class="flex flex-col w-100 gap-2">
    <div class="flex flex-col gap">
      <label class="font-bold">Course Name</label>
      <input type="text" class="input-style" [(ngModel)]="courseEdit.name">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Code</label>
      <input type="text" class="input-style" [(ngModel)]="courseEdit.code">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Type</label>
      <input type="text" class="input-style" [(ngModel)]="courseEdit.type">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Level</label>
      <select name="level" class="input-style" [(ngModel)]="courseEdit.level">
        <option value="UNDERGRADUATE">Undergraduate</option>
        <option value="GRADUATE">Graduate</option>
      </select>
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Credit Hours</label>
      <input type="number" class="input-style" [(ngModel)]="courseEdit.creditHours">
    </div>
    <div class="flex w-100 justify-between">
      <button class="cancel-button" (click)="closeEditModal()">Cancel</button>
      <button class="button-styling" (click)="confirmEdit()">Confirm</button>
    </div>
  </div>
</p-dialog>





<p-dialog [(visible)]="showAddCourseModal" [modal]="true" [draggable]="false">
  <ng-template pTemplate="header">
    <div>
      Add Course
    </div>
  </ng-template>
  <div class="flex flex-col w-100 gap-2">
    <div class="flex flex-col gap">
      <label class="font-bold">Course Name</label>
      <input type="text" class="input-style" [(ngModel)]="courseAdd.name">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Code</label>
      <input type="text" class="input-style" [(ngModel)]="courseAdd.code">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Type</label>
      <input type="text" class="input-style" [(ngModel)]="courseAdd.type">
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Level</label>
      <select name="level" class="input-style" [(ngModel)]="courseAdd.level">
        <option value="UNDERGRADUATE">Undergraduate</option>
        <option value="GRADUATE">Graduate</option>
      </select>
    </div>
    <div class="flex flex-col gap">
      <label class="font-bold">Course Credit Hours</label>
      <input type="number" class="input-style" [(ngModel)]="courseAdd.creditHours">
    </div>
    <div class="flex w-100 justify-between">
      <button class="cancel-button" (click)="closeAddModal()">Cancel</button>
      <button class="button-styling" (click)="confirmAdd()">Confirm</button>
    </div>
  </div>
</p-dialog>
