.body-margin {
  margin: 0.5rem;
}

.border-top {
  border-top: 2px solid black;
}

.margin-top {
  margin-top: 1rem;
}

.button-styling {
  padding: 1rem;
  background-color: #046138;
  color: white;
  border-radius: 1rem;
  border: 1px solid white;
}

.cancel-button {
  padding: 1rem;
  background-color: white;
  color: black;
  border-radius: 1rem;
  border: 1px solid black;
}

.delete-button {
  padding: 1rem;
  background-color: grey;
  color: white;
  border-radius: 1rem;
  border: 1px solid white;
}

.input-style {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid black;
}

.course-single{
  border: 2px solid #046138;
  border-radius: 10%;
  max-width: 20%;
  max-height: 15%;
  padding: 0.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info-button{
  border: none;
  background-color: white;
}